
@{
    ViewBag.Title = "New";
}

<h2>Create Group</h2>
<form action="/Group/Create" method="POST">
    <div class="row">
        <label class="col-md-2 col-form-label">Group Name:</label>
        <div class="col-md-10">
            <input class="form-control" type="text" name="GroupName" />
        </div>
    </div>
    <div class="row">
        <label class="col-md-2 col-form-label">Description:</label>
        <div class="col-md-10">
            <textarea class="form-control" type="text" name="Description"></textarea>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10">
            <input type="submit" value="Add Group" />
            <a href="/Group/List">Cancel</a>
        </div>
    </div>
</form>

