@model IEnumerable<n01593039MyPassionProject.Models.ActivityDto>
@{
    ViewBag.Title = "List";
}

<h2>List Activities</h2>

<div class="add">
    <button type="button">Add A New Activity</button>
</div>
<div>
    <table>
        <tr>
            <th>#</th>
            <th>Activity Name</th>
            <th>Description</th>
            <th>Date Time</th>
            <th></th>
        </tr>
        @foreach (n01593039MyPassionProject.Models.ActivityDto Activity in Model)
        {
            <tr>
                <td>@Activity.ActivityId</td>
                <td>@Activity.ActivityName</td>
                <td>@Activity.Description</td>
                <td>@Activity.DateTime</td>
                <td><button type="button">Detail</button></td>
            </tr>
        }

    </table>
</div>


